.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(70, 70, 70, .8);
  color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  font-family: var(--font-playfair);
  transition: background-color .2s;
}

.containerFade {
  background-color: rgba(70, 70, 70, .97);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentInner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 10vw;
  font-weight: 900;
  line-height: 1;
  margin-top: 10vw;
  margin-bottom: 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

.image {
  max-width: 80vw;
}

.image {
  order: 2;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
}

.text {
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 4vw;
  line-height: 1.6;
}
