.button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.buttonClose {
  --button-size: 12vw;
  --icon-size: 6vw;

  position: absolute;
  right: 0;
  top: 0;
  width: var(--button-size);
  height: var(--button-size);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.navButton {
  width: 10vw;
  height: 16vw;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 10vw;
    height: 10vw;
    fill: #fff;
  }
}

.navButtonBack {
  order: 1;

  svg {
    transform: rotate(180deg);
  }
}

.navButtonNext {
  order: 3;
}
